
nav{
    background-image: linear-gradient(to left, #b2c5ff, #a1e0ff, #f59c96);
    color:black;;
  }

.btn-primary {
    background: #8cd6fb;
    border: 0;
  }
.shadow {
    height: 700px;
  }
.navbar-logo{
    height: 55px;
  }

.container-db{
  padding-left: 45%;
}
.jumbotron{
  background-color: #cddff5;
  color: rgb(10, 43, 105);
  margin-top: 20px;
  padding: 30px;
}

.card-container{
  padding-top: 5px;
}

.lead{
  font-size: 30px;

}
.lead-donate{
  font-size: 25px;
}